body {
    background-color: #000000;
    margin: 0px 10px;
}

p {
    font-size: 18pt;
}

#show-code {
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    position: relative;
    border: medium dashed green;
}

#sc-background {
    font-size: 20pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    margin: 0px;
    padding: 0px;
}

#sc-content {
    max-width: 800px;
    width: 100%;
    background-color: grey;
    opacity: 0.97;
    z-index: 1;
    margin-bottom: 20px;
}

.space {
    height: 100px;
}
