#sc-container {
    width: 100%;
	height: inherit;
    position: relative;
    z-index: 0;
}

#sc-background-container {
	top: 0px;
	left: 0px;
	height: 100%;
	width: 100%;
	position: absolute;
	overflow: hidden;
	z-index: -2;
}

#sc-background {
	font-size: 20pt;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -3;
	margin: 0px;
	padding: 0px;
	border: 0px;
}
