#sc-container {
    width: 100%;
    overflow: hidden;
    position: relative;
    z-index: 0;
}

#sc-background {
    font-size: 20pt;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
    margin: 0px;
    padding: 0px;
    border: 0px;
}
